<div class="top-image" id="contents">
    <div class="container">
        <h1 class="pt-5"><em>About</em></h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="jumbotron">
            <p>Welcome to the Yasu-Learning!</p>
            <p>We develop a platform for learning English idioms online called Yasu-Learning.
            This service is for everyone who want to learn casual idioms and speak like native English speakers.</p>
            <p>The Idioms you can learn here allow you to speak English with full of wit and humor.
            Please enjoy to learn practical, various and Yasu-Learning through this service and be foolish!</p>
            <h3><em class="signature float-right">Yasu</em></h3>
                </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
	</div>
</div>
