<% if logged_in? %>
<div class="row">
        <aside class="col-3">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= link_to "#{current_user.answers.count} words learned", words_path, class: "btn btn-lg btn-primary" %>
            </section>
        </aside>
        
<% else %>
    <div class="center jumbotron">
        <h1>Welcome to E-learning</h1>

        <h2>This is the home page!</h2>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <div class="image">
   
    </div>
<% end %>
</div>
