<% @words.each do |word| %>
    <tr>
        <th><%= word.word %></th>
        <th><%=  %></th>
        <th><a class="btn btn-warning px-1" href="<%= edit_admin_categories_word_path(word) %>">Edit</a>
            <%= link_to "Delete", admin_categories_words_path(word), method: :delete,
                        data: { confirm: "You sure?" } %>     
        </th>
    </tr>
<% end %>