<div class="container">
    <div class="container container-small">
	    <div class="panel">
		    <div class="panel-heading">
			    <div class="row">
				    <div class="col-sm-6">
					    <span><strong>Admin Word Show Page</strong></span>
				    </div>
				    <div class="col-sm-6 text-right">
					    <a class="btn btn-success py-2" href="">ADD WORD</a>
					    <a href="<%= admin_categories_path %>">BACK</a>
				    </div>
			    </div>
		    </div>
		    <table class="table">
			    <tbody>
				    <tr>
                        <th>Word</th>
                        <th>Answer</th>
                        <th>Action</th>
				    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
