<%= form_for(current_user.active_relationships.build, remote: true) do |f|%>
    <div><%= hidden_field_tag :followed_id, @user.id %></div>
    <div class="text-center"><%= f.submit "Follow", class: "btn btn-large btn-primary mt-3 px-5" %></div>
<% end %>