<% provide(:title, "Update") %>
<div class="form form-view py-5 my-5">
    <h1 class="text-center text-dark">Edit your profile</h1>
    <div class="container">
        <%= render 'form' %>
    </div>
</div>