<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="top-image1" id="contents">
	<div class="container pt-5">
		<div class="jumbotron p-2">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<h1 class="text-center">Sign-Up</h1>
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

