<% provide(:title, 'Sign up') %>
<div class="mb-5 p-5">
    <div class="form">
        <div class="py-3">
            <h1 class="text-center">Sign up</h1>
            <div class="container">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
