<% provide(:title, @user.name) %>
<div class="row">
    <div class="span">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
    </div>
</div>
<%= render 'follow_form' if logged_in? %>
