<% provide(:title, @user.name) %>
<div class="row">
    <div class="span">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
    </div>
</div>
<div>
    <div class="col-9">
      <div class="microposts">
        <%= render 'follow_form' if logged_in? %>
      </div>
    </div>
  </div>
</div>