<div class="top-image3" id="contents">
    <div class="container pt-5">
        <div class="container container-small" "="">
            <div class="row justify-content-center">
                    <div class="page_info">

                    </div>
                    <div class="row">
                        <div class="form-container">
                        <div class="text-center">
                        <h1 class="text-white pb-4"><%= page_entries_info @words %></h1>
                            <% @words.each do |word| %>
                                <h2 class="pb-3"><%= word.word %></h2>
                                    <% word.choices.each do |choice| %>
                                        <td><%= render 'form', word: word, choice: choice %></td>
                                    <% end %>
                            <% end %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>      
    </div> 
</div>