<div class="container">
    <div class="container container-small">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-center">
                <div class="row">
                    <div class="col-sm-6">
                        <h1></h1>
                    </div>

                    <div class="col-sm-6 text-right result">
                        <strong> </strong>
                    </div>
                </div>

                <div class="row">
                    <table class="table result">
                        <tbody>
                            <tr>
                                <th>Word</th>
                                <th>Your Answer</th>
                                <th>Correct Answer</th>
                                <th></th>
                            </tr>
                            <% @words.each do |word| %> 
                                <tr>
                                    <td><%= word.word %></td>
                                    <td></td>
                                    <% word.choices.each do |choice|%>
                                        <% if choice.correct_ans == true %>
                                        <td><%= choice.choices %></td>                           
                                        <% end %>
                                    <% end %>
                                    <td>
                                        <i class="far fa-check-circle"></i>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>		

