<div class="top-image2" id="contents">
	<div class="container pt-5">
		<div class="container container-small">
			<div class="panel table category-table">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-6">
							<span><strong>Create Page</strong></span>
						</div>
						<div class="col-sm-6 text-right">
							<a href="<%= admin_categories_path %>">BACK</a>
						</div>
					</div>
				</div>
				<%= render partial: 'form', locals: { category: @category } %>
			</div>
		</div>
</div>
</div>
