<% @categories.each do |category| %>
    <div class="col-sm-6">
        <section class="col-sm-12">
            <div class="detail">
                <h2><%= category.title %></h2>
                <p><%= category.description %></p>
            </div>
            <% if is_completed(category).nil? %>
                <div class="text-right">
                    <%= render 'learn', category: category %>
                </div>
            <% else %>
                <div class="text-right mb-3">
                    <%= link_to "See Results", category_lesson_path(category, is_completed(category)) %>
                </div>
            <% end %>   		
        </section>
    </div>
<% end %>