<% @categories.each do |category| %>
    <div class="col-sm-6">
        <section class="col-sm-12">
            <div class="detail">
                <h1><%= category.title %></h1>
                <p><%= category.description %></p>
            </div>
            <% if is_completed(category).nil? %>
                <div class="text-right">
                    <%= render 'learn', category: category %>
                </div>	
            <% else %>
                <%= link_to "See Results", category_lesson_path(category, is_finished(category)) %>
            <% end %>
            	
        </section>
    </div>
<% end %>