<% provide(:title, "Categories") %>
<div class="top-image2" id="contents">
    <div class="container">
        <div class="container container-small mt-3">
            <h1 class="mt-5 text-white">Categories</h1>
                <div class="row object-list mt-4">
                    <%= render 'list' %>
                </div>
        </div>
    </div>
</div>
