<% provide(:title, "Categories") %>
<div class="container">
    <div class="container container-small mt-3">
	    <h2 class="mt-5">Categories</h2>
	        <div class="row object-list mt-4">
				<%= render 'list' %>
            </div>
    </div>
</div>

